<template>
  <div
    class="background"
    v-show="exportItemId != false"
    v-on:click.self="closeModal"
  >
    <div class="form-style-6">
      <h1>Export Item Positions</h1>
      <form @submit="exportItem">
        <span>Identifier</span>
        <input
          type="text"
          v-model="form_data.identifier"
          placeholder="identifier"
          @input="form_data.identifier = $event.target.value.toUpperCase()"
        />

        <span>Start Export at</span>
        <input
          v-model="start_time"
          type="datetime-local"
          placeholder="start time"
        />

        <span>Stop Export at</span>
        <input
          type="datetime-local"
          v-model="stop_time"
          placeholder="stop time"
        />

        <input type="submit" value="Generate CSV" />
      </form>
    </div>
  </div>
</template>
<script lang="ts">
import Vue, { PropOptions } from 'vue';
import templates from '../../constants/templates';
import { eventBus } from '@/eventBus';
import { PositionDoc } from '@/types/map-item';
import { DbItem } from '@/types/db-item';

export default Vue.extend({
  name: 'ExportItem',
  props: {
    exportItemId: {
      type: [String, Boolean],
    } as PropOptions<false | string>,
  },
  data: function() {
    return {
      template: '',
      vehicles: [],
      template_data: {},
      last_position: {},
      start_time: '',
      stop_time: '',
      form_data: { properties: {} },
      position_data: {
        positions: [] as { doc: PositionDoc }[],
      },
    };
  },
  watch: {
    exportItemId(newVal: string | false): void {
      if (!newVal) return;
      // watch it
      var self = this;
      //load doc
      this.$db.getItem(newVal, function(item) {
        var doc = item.doc;
        //load template for doc
        self.loadTemplate(doc.template);

        //load doc into form_data
        self.form_data = doc;
        self.position_data.positions = item.positions;

        //load last position
        item.positions.forEach(function(v, i) {
          //last position
          if (i == item.positions.length - 1) {
            self.last_position = v.doc;
          }
        });
      });
    },
  },
  methods: {
    exportItem(e: Event): void {
      e.preventDefault();
      var data: (string | boolean)[][] = [];
      data.push(['Timestamp', 'Lat', 'Lng', 'Heading', 'Speed']);

      for (var i in this.position_data.positions) {
        const positionDoc = this.position_data.positions[i].doc;
        if (
          new Date(positionDoc.timestamp) > new Date(this.start_time) &&
          new Date(positionDoc.timestamp) < new Date(this.stop_time)
        ) {
          var item: (string | boolean)[] = [];
          if (positionDoc.timestamp !== undefined)
            item.push(positionDoc.timestamp);
          if (positionDoc.lat !== undefined)
            item.push(positionDoc.lat.toString());
          if (positionDoc.lon !== undefined)
            item.push(positionDoc.lon.toString());
          if (positionDoc.heading !== undefined)
            item.push(positionDoc.heading.toString());
          if (positionDoc.speed !== undefined)
            item.push(positionDoc.speed.toString());
          data.push(item);
        }
      }
      // Building the CSV from the Data two-dimensional array
      // Each column is separated by ";" and new line "\n" for next row
      var csvContent = '';
      data.forEach(function(infoArray, index) {
        var dataString = infoArray.join(';');
        csvContent += index < data.length ? dataString + '\n' : dataString;
      });

      // The download function takes a CSV string, the filename and mimeType as parameters
      // Scroll/look down at the bottom of this snippet to see how download is called
      var download = function(content, fileName, mimeType) {
        var a = document.createElement('a');
        mimeType = mimeType || 'application/octet-stream';

        if (navigator.msSaveBlob) {
          // IE10
          navigator.msSaveBlob(
            new Blob([content], {
              type: mimeType,
            }),
            fileName
          );
        } else if (URL && 'download' in a) {
          //html5 A[download]
          a.href = URL.createObjectURL(
            new Blob([content], {
              type: mimeType,
            })
          );
          a.setAttribute('download', fileName);
          document.body.appendChild(a);
          a.click();
          document.body.removeChild(a);
        } else {
          location.href =
            'data:application/octet-stream,' + encodeURIComponent(content); // only this mime type is supported
        }
      };

      download(csvContent, 'dowload.csv', 'text/csv;encoding:utf-8');
    },
    loadTemplate(template_name): void {
      this.template_data = templates.get(template_name);
      this.$nextTick();
    },
    closeModal(): void {
      // Using the service bus
      eventBus.emit('updateExportItemId', { itemId: false });
    },
    storeItem(e: Event): void {
      e.preventDefault();
      var self = this;
      this.$db.createItem(this.form_data as DbItem, function(err, result) {
        if (err) {
          if (err.name == 'conflict')
            alert('The id is already taken, please choose another one');
          else alert('An unknown error occured while creating the item');

          console.error(err);
        } else {
          if (result.ok == true) {
            self.$emit('set-export-item-id', false);
          }
          alert('The item has been updated');
        }
      });
    },
  },
  mounted: function() {},
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.position_detail ul span {
  width: 120px;
  display: inline-block;
}

.form-style-6 {
  font: 95% Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin: 10px auto;
  padding: 16px;
  background: #f7f7f7;
}
.form-style-6 h1 {
  background: #43d1af;
  padding: 20px 0;
  font-size: 140%;
  font-weight: 300;
  text-align: center;
  color: #fff;
  margin: -16px -16px 16px -16px;
}
.form-style-6 input[type='text'],
.form-style-6 input[type='date'],
.form-style-6 input[type='datetime'],
.form-style-6 input[type='email'],
.form-style-6 input[type='number'],
.form-style-6 input[type='search'],
.form-style-6 input[type='time'],
.form-style-6 input[type='url'],
.form-style-6 textarea,
.form-style-6 select {
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  background: #fff;
  margin-bottom: 4%;
  border: 1px solid #ccc;
  padding: 3%;
  color: #555;
  font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type='text']:focus,
.form-style-6 input[type='date']:focus,
.form-style-6 input[type='datetime']:focus,
.form-style-6 input[type='email']:focus,
.form-style-6 input[type='number']:focus,
.form-style-6 input[type='search']:focus,
.form-style-6 input[type='time']:focus,
.form-style-6 input[type='url']:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus {
  box-shadow: 0 0 5px #43d1af;
  padding: 3%;
  border: 1px solid #43d1af;
}

.form-style-6 input[type='submit'],
.form-style-6 input[type='button'] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 3%;
  background: #43d1af;
  border-bottom: 2px solid #30c29e;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
}
.form-style-6 input[type='submit']:hover,
.form-style-6 input[type='button']:hover {
  background: #2ebc99;
}
</style>
