<template>
  <li
    :class="'NavbarItem ' + (positions ? '' : 'item_loading')"
    @click.self="flyToItem()"
  >
    <span>
      <div class="item_name" @click="flyToItem()">
        {{ itemName }}
      </div>
      <el-switch
        v-model="itemTrackShowing"
        :active-color="itemColor"
        title="Switch Track On/Off"
      />
      <el-tag
        size="small"
        :type="positionAgeType"
        @click="flyToItem()"
        :title="positionTimeText"
      >
        {{ positionAgeText }}
      </el-tag>
    </span>
    <el-button
      @click="clickItem()"
      style="float: right;"
      icon="el-icon-edit"
      circle
    />
  </li>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import { DbItem } from '@/types/db-item';
import { DbPosition } from '@/types/db-position';

import { eventBus } from '@/eventBus';

export default Vue.extend({
  name: 'NavbarItem',

  props: {
    base_item: {
      type: Object,
      required: true,
    } as PropOptions<DbItem>,
    positions: {
      type: Array,
      required: false,
    } as PropOptions<DbPosition[]>,
    time_now: {
      type: Date,
      required: false,
    } as PropOptions<Date>,
  },

  data() {
    return {
      itemTrackShowing: false,
      showByUserPreference: false,
    };
  },

  watch: {
    itemTrackShowing(newVal): void {
      // if (this.itemTrackShowing != this.showInitialTrack && !this.showByUserPreference)
      //   this.showByUserPreference = true;
      this.$map.setItemTrackShowing(this.base_item._id, newVal);
    },
    base_item(): void {
      if (!this.showByUserPreference)
        this.itemTrackShowing = this.$map.isItemTrackShowing(
          this.base_item._id
        );
    },
    positions(): void {
      if (!this.showByUserPreference)
        this.itemTrackShowing = this.$map.isItemTrackShowing(
          this.base_item._id
        );
    },
  },

  computed: {
    itemName(): string {
      return (
        this.base_item.properties.name ||
        this.base_item.template + ' ' + this.base_item.identifier
      );
    },
    itemColor(): string {
      return (
        this.base_item.properties.color ||
        this.base_item.properties.boat_color ||
        '#13ce66'
      );
    },
    latestPosition(): DbPosition | null {
      // We assume that positions are already sorted by timestamp during the DB-fetch,
      //  and that position zero is the newest position:
      if (this.positions?.length > 0) return this.positions[0];
      else return null;
    },
    positionTimeText(): string {
      if (this.latestPosition?.timestamp)
        return (
          'last seen at ' +
          this.$map.formatTimestamp(this.latestPosition.timestamp)
        );
      else return 'no position timestamp';
    },
    positionAgeText(): string {
      if (!this.positions) return 'loading positions...';
      else if (!this.latestPosition) return 'no positions';
      else
        return (
          this.$map.timeSince(this.latestPosition.timestamp, this.time_now) +
          ' ago'
        );
    },
    positionAgeType(): string {
      let color = this.$map.colorSince(
        this.latestPosition?.timestamp,
        this.time_now
      );
      return {
        green: 'success',
        yellow: 'warning',
        red: 'danger',
        blue: 'default',
        grey: 'info',
      }[color];
    },
  },

  methods: {
    clickItem(): void {
      eventBus.emit('showItem', { itemId: this.base_item._id });
    },
    flyToItem(): void {
      if (this.latestPosition) {
        eventBus.emit('flyToPosition', { position: this.latestPosition });
      }
    },
  },

  mounted(): void {
    this.itemTrackShowing = this.$map.isItemTrackShowing(this.base_item._id);
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.item_loading {
  opacity: 0.4;
}
</style>
