<template>
  <div id="listview">
    <el-collapse v-model="activeCategories">
      <el-collapse-item
        v-for="category in allCategories"
        class="categories"
        :title="category.plural"
        :name="category.plural"
        :key="category.plural"
      >
        <div id="listviewtable">
          <table>
            <thead>
              <th>ID</th>
              <th>First Seen</th>
              <th v-for="field in category.fields" :key="field.name">
                <div class="title-item">{{ field.title }}</div>
              </th>
            </thead>

            <tr v-for="item in category.category_base_items" :key="item._id">
              <td>{{ item._id }}</td>
              <td v-if="itemPositions(item) && itemPositions(item)[0]">
                {{ returnLocaleDate(itemPositions(item)[0].timestamp) }}
              </td>
              <td v-else>no positions</td>
              <td v-for="field in category.fields" :key="field.name">
                {{ item.properties[field.name] }}
              </td>
              <!--<span>{{vehicle.positions}}</span>-->
            </tr>
          </table>
        </div>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import { DbItem } from '@/types/db-item';
import templates from '../constants/templates';
import { DbPosition, DbPositionsPerItem } from '@/types/db-position';
import { ItemTemplateField } from '@/types/item-template-schema';
import { Templates } from '@/constants/templates';

export interface TemplateCategory {
  plural: string;
  pouch_identifier: string;
  category_base_items: DbItem[];
  fields: ItemTemplateField[];
}

export type TemplateCategories = {
  [key in keyof typeof Templates.templates]?: TemplateCategory;
};

export default Vue.extend({
  name: 'ListView',

  props: {
    base_items: { type: Array, required: true } as PropOptions<DbItem[]>,
    positions_per_item: {
      type: Object,
      required: false,
    } as PropOptions<DbPositionsPerItem>,
  },
  data: function() {
    return {
      activeCategories: [templates.get('vehicle').plural] as string[],
    };
  },
  computed: {
    allCategories(): TemplateCategories {
      let all_templates = templates.getAll();
      let category_tabs: TemplateCategories = {};

      for (let item_index in this.base_items) {
        let base_item = this.base_items[item_index];
        let template_infos = all_templates[base_item.template];
        // ignore items with unknown templates
        if (template_infos) {
          if (!category_tabs[base_item.template]) {
            let template_infos = all_templates[base_item.template];
            category_tabs[base_item.template] = {
              plural: template_infos.plural,
              pouch_identifier: template_infos.pouch_identifier,
              category_base_items: [],
              fields: template_infos.fields,
            };
          }

          const category = category_tabs[base_item.template];
          if (category) {
            category.category_base_items.push(base_item);
          }
        }
      }
      return category_tabs;
    },
  },
  methods: {
    itemPositions(base_item: DbItem): DbPosition[] | null {
      // return null if no positions have been loaded yet:
      if (Object.keys(this.positions_per_item).length === 0) return null;
      else return this.positions_per_item[base_item.identifier] || [];
    },
    returnLocaleDate(date: string) {
      return new Date(date).toLocaleString();
    },
  },
  mounted: function() {},
});
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.el-collapse-item__header {
  font-size: 22px;
  color: var(--primary);
}
</style>
<style scoped>
table {
  width: 100%;
  border: 1px solid var(--light-gray);
  table-layout: auto;
}
.title-item {
  max-width: 170px;
  min-width: 100px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
#listviewtable {
  overflow-x: auto;
}
</style>
