<template>
  <div>
    <div id="mapArea"></div>
    <div
      id="addmarker"
      ref="addmarker"
      class="form-style-6"
      v-if="showingPopup('addmarker')"
    >
      <button
        id="close"
        v-on:click="
          closePopup();
          setCoordsToDefault();
        "
      >
        X
      </button>
      <Position
        :edit="true"
        :position="position_data.positions[0]"
        @set-position="position_data.positions[0] = $event"
      />
      <button id="addMarker" v-on:click="addmarker">Add Marker</button>
    </div>

    <div ref="drawn_area_popup" class="drawn_area_style">
      <DrawnAreaPopup
        v-if="showingPopup('drawn_area_popup')"
        :popup_data="popup_data"
      ></DrawnAreaPopup>
    </div>
    <div ref="drawn_marker_popup" class="drawn_marker_style">
      <DrawnMarkerPopup
        v-if="showingPopup('drawn_marker_popup')"
        :popup_data="popup_data"
        :filtered_base_items="filtered_base_items"
      ></DrawnMarkerPopup>
    </div>
    <div ref="drawn_track_popup" class="drawn_track_style">
      <DrawnTrackPopup
        v-if="showingPopup('drawn_track_popup')"
        :popup_data="popup_data"
      ></DrawnTrackPopup>
    </div>
    <div ref="item_marker_popup" class="item_marker_style">
      <ItemMarkerPopup
        v-if="showingPopup('item_marker_popup')"
        :popup_data="popup_data"
      ></ItemMarkerPopup>
    </div>
    <div ref="item_track_popup" class="item_track_style">
      <ItemTrackPopup
        v-if="showingPopup('item_track_popup')"
        :popup_data="popup_data"
      ></ItemTrackPopup>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import { DbPositionsPerItem } from '@/types/db-position';
import { FilteredItemSection } from '@/types/item-filter';

import DrawnAreaPopup from './map/DrawnAreaPopup.vue';
import DrawnMarkerPopup from './map/DrawnMarkerPopup.vue';
import DrawnTrackPopup from './map/DrawnTrackPopup.vue';
import ItemMarkerPopup from './map/ItemMarkerPopup.vue';
import ItemTrackPopup from './map/ItemTrackPopup.vue';
import Position from './items/Position.vue';

import { eventBus } from '@/eventBus';
import { PopupData } from '@/types/popup';

export default Vue.extend({
  name: 'MapArea',
  components: {
    DrawnAreaPopup,
    DrawnMarkerPopup,
    DrawnTrackPopup,
    ItemMarkerPopup,
    ItemTrackPopup,
    Position,
  },
  props: {
    filtered_base_items: {
      type: Array,
      required: true,
    } as PropOptions<FilteredItemSection[]>,
    positions_per_item: {
      type: Object,
      required: false,
    } as PropOptions<DbPositionsPerItem>,
  },

  data() {
    return {
      map_initialized: false,
      popup_modal: '',
      popup_data: {} as PopupData,
      position_data: {
        positions: [{ lat: 0, lon: 0 }],
      },
    };
  },
  computed: {
    /**
     * Provide a shown_items object for use by the current implementation of the Replay feature.
     * This will likely become obsolete as the Replay feature is updated, so don't forget to remove this then.
     */
    shown_items(): Record<string, true> {
      let shown_items: Record<string, true> = {};
      for (const section_id in this.filtered_base_items) {
        const section = this.filtered_base_items[section_id];
        for (const i in section.base_items) {
          const base_item = section.base_items[i];
          shown_items[base_item._id] = true;
        }
      }
      return shown_items;
    },
  },

  watch: {
    filtered_base_items(): void {
      eventBus.emit('setItemLayers', {
        filteredItems: this.filtered_base_items,
        positionsPerItem: this.positions_per_item,
      });
    },
    positions_per_item(): void {
      eventBus.emit('setItemLayers', {
        filteredItems: this.filtered_base_items,
        positionsPerItem: this.positions_per_item,
      });
    },
  },

  methods: {
    showingPopup(ref: string): boolean {
      return this.popup_modal === ref;
    },

    closePopup(): void {
      this.popup_modal = '';
    },

    addmarker(): void {
      let lat = this.position_data.positions[0].lat;
      let lon = this.position_data.positions[0].lon;
      this.$map.addMarkerByCoordinates(lat, lon);
    },

    setCoordsToDefault(): void {
      this.position_data.positions[0].lon = 0;
      this.position_data.positions[0].lat = 0;
    },
  },

  mounted(): void {
    var self = this;

    var get_popup_contents_callback = (
      popup_ref: string,
      popup_data: PopupData
    ): any => {
      this.popup_data = popup_data;
      this.popup_modal = popup_ref;
      return this.$refs[popup_ref];
    };
    this.$map.init('mapArea', get_popup_contents_callback);

    eventBus.on('setItemLayers', ({ filteredItems, positionsPerItem }) => {
      this.$map.setItemSections(filteredItems, positionsPerItem);
    });

    eventBus.on('flyToPosition', ({ position }) => {
      this.$map.flyTo([position.lat, position.lon]);
    });

    eventBus.on('startReplay', ({ replayData }) => {
      console.log(replayData);
      replayData.map = self.$map;
      replayData.shown_items = self.shown_items;
      eventBus.emit('replayStarted');
      self.$db.startReplay(replayData, function() {
        eventBus.emit('replayFinished');
      });
    });
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
#mapArea {
  height: calc(100vh - var(--app-top));
  background: var(--white);
}

.landmark-marker,
.case-marker,
.vehicle-marker {
  height: 16px !important;
  width: 16px !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
}

.itemCaption,
.lineCaption {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 3px;
  width: 80px;
  display: block;
  margin-left: -43px;
  text-align: center;
  font-size: 10px;
}
.lineCaption {
  width: 70px !important;
  font-size: 7px;
}

.latlng {
  font-weight: bold;
  white-space: nowrap;
}

.el-cascader {
  width: 110px;
  margin-right: 10px;
}

.drawn_area_style {
  width: 230px;
}

.drawn_marker_style {
  width: 211px;
}

.drawn_track_style {
  width: 180px;
}

.item_marker_style {
  width: 200px;
}

.item_track_style {
  width: 200px;
}

#close {
  background-color: white;
  color: black;
  position: right;
  border: none;
  text-align: center;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 999;
  padding: 10px 10px 10px 10px;
  margin-top: 2px;
  margin-right: 2px;
  margin-left: 2px;
  margin-bottom: 2px;
  border-radius: 4px;
  float: right;
  pointer-events: auto;
  outline: 0;
}

#addmarker {
  background-color: whitesmoke;
  position: absolute;
  border-bottom: 1px solid #ccc;
  top: 57px;
  left: 50px;
  width: 400px;
  height: 330px;
  z-index: 999;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}
</style>
