<template>
  <div class="background" v-on:click.self="closeModal">
    <div class="form-style-6">
      <h1>Settings</h1>
      <form v-on:submit.prevent="save">
        <h3>Map</h3>
        <span>Default Tileset</span>
        <select v-model="settings.maptiles">
          <option value="onefleet">Onefleet (own tile server)</option>
          <option value="openlayers">OpenStreetMap (public tile server)</option>
          <option value="greyscale"
            >mostly Greyscale (public tile server)</option
          >
        </select>

        <span>Max Track Length</span>

        <select v-model="settings.max_track_type">
          <option value="number_of_positions">number of positions</option>
          <option value="number_of_days">number of days</option>
          <option value="date_range">date range</option>
        </select>

        <input
          type="number"
          v-if="settings.max_track_type != 'date_range'"
          v-model="settings.max_track_length"
        />
        <label for="track_startdate">From:</label>
        <input
          type="datetime-local"
          v-if="settings.max_track_type == 'date_range'"
          v-model="settings.track_startdate"
          id="track_startdate"
        /><br />
        <label for="track_enddate">To:</label>
        <input
          type="datetime-local"
          v-if="settings.max_track_type == 'date_range'"
          v-model="settings.track_enddate"
          id="track_enddate"
        />
        <br />
        <span>Show Openseamap</span>
        <input type="checkbox" value="true" v-model="settings.openseamap" />
        <br />
        <span>Always show item captions</span>
        <input type="checkbox" value="true" v-model="settings.showcaptions" />
        <br />
        <span>Show position timestamps</span>
        <input
          type="checkbox"
          value="true"
          v-model="settings.positiontimestamps"
        />

        <input type="submit" value="Save and reload" />
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { eventBus } from '@/eventBus';

export default Vue.extend({
  name: 'Settings',
  data() {
    return {
      show: true,
      settings: {
        maptiles: localStorage.settings_maptiles || 'openlayers',
        openseamap: localStorage.settings_openseamap == 'true' || false,
        showcaptions: localStorage.settings_showcaptions == 'true' || false,
        positiontimestamps:
          localStorage.settings_positiontimestamps == 'true' || false,
        max_track_length: localStorage.settings_map_track_length || 100,
        max_track_type:
          localStorage.settings_max_track_type || 'number_of_positions',
        track_startdate:
          localStorage.settings_track_startdate ||
          new Date().toLocaleString('en-US'),
        track_enddate:
          localStorage.settings_track_enddate ||
          new Date().toLocaleString('en-US'),
      },
    };
  },

  methods: {
    closeModal(): void {
      // Using the service bus
      eventBus.emit('closeModal');
    },
    save(): void {
      localStorage.settings_maptiles = this.settings.maptiles;
      localStorage.settings_openseamap = this.settings.openseamap;
      localStorage.settings_showcaptions = this.settings.showcaptions;
      localStorage.settings_positiontimestamps = this.settings.positiontimestamps;

      localStorage.settings_max_track_type = this.settings.max_track_type;
      if (this.settings.max_track_type == 'date_range') {
        localStorage.settings_track_startdate = this.settings.track_startdate;
        localStorage.settings_track_enddate = this.settings.track_enddate;
      } else {
        localStorage.settings_map_track_length = this.settings.max_track_length;
      }
      window.location.reload();
    },
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
</style>
