<template>
  <div>
    <span class="latlng"> DD: {{ latestDD }} </span> <br />
    <span class="latlng"> DMS: {{ latestDMS }} </span> <br />

    <el-date-picker
      v-model="sighting_datetime"
      type="datetime"
      placeholder="Enter time of sighting"
      format="yyyy-MM-dd HH:mm"
      value-format="yyyy-MM-dd HH:mm"
      size="small"
    >
    </el-date-picker>

    Save position into: <br />

    <el-dropdown @command="createNewItem">
      <el-button type="primary" plain size="small">
        Existing... <i class="el-icon-arrow-down el-icon--right"></i>
      </el-button>
      <el-dropdown-menu slot="dropdown">
        <el-cascader-panel
          ref="existing_items_cascader"
          :options="item_options"
          :props="{ expandTrigger: 'hover' }"
          @change="addToItem"
        ></el-cascader-panel>
      </el-dropdown-menu>
    </el-dropdown>

    <el-dropdown @command="createNewItem">
      <el-button type="primary" plain size="small" class="button-spacer">
        New... <i class="el-icon-arrow-down el-icon--right"></i>
      </el-button>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item
          v-for="template_option in template_options"
          :command="template_option"
          :key="template_option"
          >{{ capitalizeFirstLetter(template_option) }}</el-dropdown-item
        >
      </el-dropdown-menu>
    </el-dropdown>

    <br />
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions, VueConstructor } from 'vue';
import templates, { Templates } from '../../constants/templates';
import { eventBus } from '@/eventBus';
import { PopupData } from '@/types/popup';
import { FilteredItemSection } from '@/types/item-filter';
import { PositionDocEnriched } from '@/types/map-item';
import { DbItem } from '@/types/db-item';
import { ElCascaderPanel } from 'element-ui/types/cascader-panel';

export default (Vue as VueConstructor<
  Vue & { $refs: { existing_items_cascader: ElCascaderPanel } }
>).extend({
  name: 'DrawnMarkerPopup',
  props: {
    popup_data: {
      type: Object,
      default: () => ({
        position: null,
      }),
    } as PropOptions<PopupData>,
    filtered_base_items: {
      type: Array,
      required: true,
    } as PropOptions<FilteredItemSection[]>,
  },

  data() {
    return {
      sighting_datetime: new Date() as Date,
    };
  },
  computed: {
    latestDMS(): string {
      const position = this.popup_data.position;
      return position ? this.$map.asDMS(position) : '';
    },
    latestDD(): string {
      const position = this.popup_data.position;
      return position ? this.$map.asDD(position) : '';
    },
    template_options(): typeof templates.keys {
      return templates.keys;
    },
    item_options(): {
      value: string;
      label: string;
      children: { value: string; label: string }[];
    }[] {
      let name_function = this.itemName;
      return this.filtered_base_items.map(section => ({
        value: section.title,
        label: section.title,
        children: section.base_items.map(base_item => ({
          value: base_item._id,
          label: name_function(base_item),
        })),
      }));
    },
    enriched_positions(): PositionDocEnriched[] {
      const position = this.popup_data.position;
      return position
        ? [position].map(pos => {
            return {
              lat: pos.lat,
              lon: pos.lon,
              heading: pos.heading ?? 0,
              // use entered timestamp, or now if not entered:
              timestamp: this.sighting_datetime,
            };
          })
        : [];
    },
  },

  watch: {},

  methods: {
    itemName(base_item: DbItem): string {
      if (base_item.properties.name) return base_item.properties.name;
      else return base_item.template + ' ' + base_item.identifier;
    },

    addToItem(item_ids: string[]): void {
      if (item_ids.length > 0) {
        eventBus.emit('showItem', {
          itemId: item_ids[1],
          positions: this.enriched_positions,
        });
        this.$refs.existing_items_cascader['clearCheckedNodes']();
      }
    },

    createNewItem(template_type: keyof typeof Templates.templates): void {
      eventBus.emit('createItem', {
        templateKey: template_type,
        positions: this.enriched_positions,
      });
    },

    capitalizeFirstLetter(string): string {
      return string.charAt(0).toUpperCase() + string.slice(1);
    },
  },

  mounted: function() {},

  created: function() {},
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.latlng {
  font-weight: bold;
  white-space: nowrap;
}

.el-date-editor {
  width: 210px;
}

.el-dropdown {
  /* margin-right: 8px; */
  font: 12px/1.5 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.el-dropdown-link {
  cursor: pointer;
  color: #0078a8;
  text-decoration: underline dashed;
}

.el-button {
  width: 100px;
}

.button-spacer {
  margin-left: 11px;
}
</style>
