<template>
  <div>
    <span class="latlng">
      Track ({{ popup_data.positions.length }} positions)
    </span>
    <br />

    <span class="latlng">
      Distance:
      {{ distanceInNauticalMiles }} nm ({{ distanceInKilometers }} km)
    </span>
    <br />
    <a href="#"> Add this track to .. </a>
  </div>
</template>

<script lang="ts">
import { PopupData } from '@/types/popup';
import Vue, { PropOptions } from 'vue';

export default Vue.extend({
  name: 'DrawnTrackPopup',
  props: {
    popup_data: {
      type: Object,
      default: () => ({
        distance_in_meters: -1,
        positions: [],
      }),
    } as PropOptions<PopupData>,
  },

  data() {
    return {};
  },
  computed: {
    distanceInKilometers(): number {
      const distanceInMeters = this.popup_data.distance_in_meters;
      return distanceInMeters ? Math.round(distanceInMeters / 1000) : 0;
    },
    distanceInNauticalMiles(): number {
      const distanceInMeters = this.popup_data.distance_in_meters;
      return distanceInMeters ? Math.round(distanceInMeters / 1.852 / 1000) : 0;
    },
  },

  watch: {},

  methods: {},

  mounted: function() {},

  created: function() {},
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
