<template>
  <div>
    <span class="latlng"> {{ popup_data.item_title }} </span> <br />
    Last known position: <br />
    {{ latestDMS }} <br />
    at {{ latestTimestamp }} <br />
    <a href="#" @click="showItem()">Show Details...</a><br />
    <br />
    "{{ popup_data.item_title }} was here at time xxxz."
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import { eventBus } from '@/eventBus';
import { PopupData } from '@/types/popup';

export default Vue.extend({
  name: 'ItemTrackPopup',
  props: {
    popup_data: {
      type: Object,
      default: () => ({
        distance_readable: '',
        distance_in_meters: -1,
        item_id: '',
        item_title: 'Unknown Item',
        latest_position: null,
      }),
    } as PropOptions<PopupData>,
  },

  data() {
    return {};
  },
  computed: {
    latestDMS(): string {
      const latestPosition = this.popup_data.latest_position;
      return latestPosition ? this.$map.asDMS(latestPosition) : '';
    },
    latestTimestamp(): string {
      let latestTimestamp = '';
      const latestPosition = this.popup_data.latest_position;
      if (latestPosition) {
        const formattedTimestamp = this.$map.formatTimestamp(
          latestPosition.timestamp
        );
        if (formattedTimestamp) latestTimestamp = formattedTimestamp;
      }
      return latestTimestamp;
    },
  },

  watch: {},

  methods: {
    showItem(): void {
      const itemId = this.popup_data.item_id;
      if (itemId) {
        eventBus.emit('showItem', { itemId });
      }
    },
  },

  mounted: function() {},

  created: function() {},
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.latlng {
  font-weight: bold;
  white-space: nowrap;
}
</style>
