<template>
  <div>
    <span class="latlng"> {{ popup_data.item_title }} </span> <br />
    Last known position: <br />
    {{ latestDMS }} <br />
    at {{ latestTimestamp }} <br />
    <!-- <div v-if="this.popup_data.latest_position.heading > 0">
      (heading:
      <div :style="'rotation: ' + this.popup_data.latest_position.heading">
        arrow
      </div>
      )<br />
    </div> -->
    <a href="#" @click="showItem()">Show Details...</a>
  </div>
</template>

<script lang="ts">
import Vue, { PropOptions } from 'vue';
import { eventBus } from '@/eventBus';
import { PopupData } from '@/types/popup';
import { MapWrapper } from '@/utils/mapWrapper';

export default Vue.extend({
  name: 'ItemMarkerPopup',
  props: {
    popup_data: {
      type: Object,
      default: () => ({
        item_id: '',
        item_title: 'Unknown Item',
        latest_position: null,
      }),
    } as PropOptions<PopupData>,
  },

  data() {
    return {};
  },
  computed: {
    latestDMS(): string {
      const latestPosition = this.popup_data.latest_position;
      return latestPosition ? this.$map.asDMS(latestPosition) : '';
    },
    latestTimestamp(): string {
      let latestTimestamp = '';
      const latestPosition = this.popup_data.latest_position;
      if (latestPosition) {
        const formattedTimestamp = this.$map.formatTimestamp(
          latestPosition.timestamp
        );
        if (formattedTimestamp) latestTimestamp = formattedTimestamp;
      }
      return latestTimestamp;
    },
    latestTimestampColor(): ReturnType<MapWrapper['colorSince']> {
      return this.$map.colorSince(this.popup_data.latest_position?.timestamp);
    },
  },

  watch: {},

  methods: {
    showItem(): void {
      const itemId = this.popup_data.item_id;
      if (itemId) {
        eventBus.emit('showItem', { itemId });
      }
    },
  },

  mounted: function() {},

  created: function() {},
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.latlng {
  font-weight: bold;
  white-space: nowrap;
}

.el-dropdown {
  /* margin-right: 8px; */
  font: 12px/1.5 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.el-dropdown-link {
  cursor: pointer;
  color: #0078a8;
  text-decoration: underline dashed;
}

.el-cascader {
  width: 110px;
  margin-right: 10px;
}
</style>
